_target_: pytorch_lightning.Trainer

gpus: 1
min_epochs: 1
max_epochs: 1000
auto_lr_find: False
terminate_on_nan: True
log_every_n_steps: 40
auto_scale_batch_size: False
gradient_clip_val: 1.0
accelerator: null
precision: 16
check_val_every_n_epoch: 2
reload_dataloaders_every_epoch: True
weights_summary: "top"
progress_bar_refresh_rate: 5
resume_from_checkpoint: ${PATH.checkpoint}
